<h5>Upload a new file</h5>

<%= form_for @conn, translit_path(@conn, :create), 
             [multipart: true], fn f -> %>
  <div class="form-group">
    <label>File</label>
    <%= file_input f, :file %>
    <%= error_tag f, :file %>
  </div>
  <div class="form-group">
    <%= submit "Submit", class: "btn btn-default" %>
  </div>
<% end %>