<h2>Topics</h2>

<ul class="collection">
  <%= for topic <- @topics do %>
    <li class="collection-item">
      Title: <%= topic.title %>. 
      User id: <%= topic.user_id %>, 
      Comments: <%= 0 %>
      Link: <%= link topic.title, to: topic_path(@conn, :show, topic) %>
      <div class="right">
        <%= link "Edit", to: topic_path(@conn, :edit, topic) %>
        <%= link "Delete", to: topic_path(@conn, :delete, topic), method: :delete %>
      </div>
    </li>
  <% end %>
</ul>
<div class="fixed-action-btn">
  <%= link to: topic_path(@conn, :new), class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">add</i>
  <% end %>
</div>