<h5>New Topic</h5>
<%= form_for @changeset, topic_path(@conn, :create), fn f-> %>
  <div class="form-group">
   <%= text_input f, :title, placeholder: "Title", class: "form-control "%>
   <%= error_tag f, :title %>
  </div>
  <%= submit "Save Topic", class: "btn btn-primary" %>
<% end %>